<form [formGroup]="clienteForm" (ngSubmit)="submitForm()" class="ion-padding-bottom">
  
  <ion-list-header>
    <ion-label color="primary">Información del Paciente</ion-label>
  </ion-list-header>

  <ion-list lines="inset" class="ion-margin-bottom">
    <ion-item>
      <ion-icon name="person-outline" slot="start" color="medium"></ion-icon>
      <ion-label position="floating">Nombre Completo *</ion-label>
      <ion-input formControlName="nombre_completo" type="text" placeholder="Ej. Juan Pérez"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="call-outline" slot="start" color="medium"></ion-icon>
      <ion-label position="floating">Teléfono *</ion-label>
      <ion-input formControlName="telefono" type="tel" placeholder="10 dígitos"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail-outline" slot="start" color="medium"></ion-icon>
      <ion-label position="floating">Correo Electrónico *</ion-label>
      <ion-input formControlName="email" type="email" placeholder="usuario@correo.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="card-outline" slot="start" color="medium"></ion-icon>
      <ion-label position="floating">RFC (Opcional)</ion-label>
      <ion-input formControlName="rfc" type="text" placeholder="ABCD123456XYZ" class="ion-text-uppercase"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label color="primary">Domicilio y Ubicación</ion-label>
  </ion-list-header>

  <ion-list lines="inset">
    <ion-item>
      <ion-icon name="location-outline" slot="start" color="medium"></ion-icon>
      <ion-label position="floating">Calle y Número</ion-label>
      <ion-input formControlName="domicilio" type="text"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="8">
        <ion-item>
          <ion-label position="floating">Colonia</ion-label>
          <ion-input formControlName="colonia" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label position="floating">C.P.</ion-label>
          <ion-input formControlName="cp" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Localidad</ion-label>
          <ion-input formControlName="localidad" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-input formControlName="estado" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" [disabled]="clienteForm.invalid" shape="round" class="ion-margin-top">
      <ion-icon name="save" slot="start"></ion-icon>
      Registrar Paciente
    </ion-button>
    
    <p class="ion-text-center" style="font-size: 0.8em; color: gray;">
      * Campos obligatorios
    </p>
  </div>
</form>