<ion-item lines="inset" style="--padding-start: 0; --background: transparent;">
  <ion-icon [name]="icon" slot="start" color="primary" style="margin-right: 10px; font-size: 20px;"></ion-icon>
  <ion-select 
    [label]="label" 
    label-placement="floating" 
    placeholder="Seleccione una opción"
    (ionChange)="onValueChange($event)"
    style="width: 100%;">
    
    @for (opcion of opciones; track opcion.id) {
      <ion-select-option [value]="opcion.id">
        {{ opcion.nombre }}
      </ion-select-option>
    }
  </ion-select>
</ion-item>