<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime presentation="date" [(ngModel)]="fecha"></ion-datetime>
  </ion-item>

  <ion-button expand="block" (click)="cargar()">
    Consultar
  </ion-button>

  @if (ingresos) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingresos del día</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><b>Fecha:</b> {{ ingresos.fecha }}</p>
        <p><b>Total:</b> {{ ingresos.total | currency }}</p>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
