<ion-content [fullscreen]="true" class="ion-padding modern-bg">
  <div class="login-container">
    <div class="brand-section">
      <div class="logo-wrapper">
        <img src="assets/hll.png" alt="Logo de la Óptica" class="logo-image">
      </div>
      <h1 class="main-title">Visión Clara</h1>
      <p class="welcome-text">Bienvenido de nuevo</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <div class="form-field">
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="person-circle-outline" slot="start" class="field-icon"></ion-icon>
          <ion-input 
            type="email" 
            formControlName="email" 
            placeholder="Correo electrónico"
            class="custom-input">
          </ion-input>
        </ion-item>
      </div>

      <div class="form-field">
        <ion-item lines="none" class="custom-input-item">
          <ion-icon name="key-outline" slot="start" class="field-icon"></ion-icon>
          <ion-input 
            type="password" 
            formControlName="password" 
            placeholder="Contraseña"
            class="custom-input">
          </ion-input>
        </ion-item>
      </div>
      <ion-button 
        expand="block" 
        type="submit" 
        [disabled]="loginForm.invalid" 
        class="login-button">
        Iniciar Sesión
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>